body{
  padding-top: 50px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 80px;
    
    
}  
a:navlink {
  color: #000080 !important;
}

.menuHome{
    background-color: #FFAA72;
    width: 110px;
    height: 45px;
    text-align: center;
    
}

.menuSitemap{
    background-color: #AAFF72;
    width: 110px;
    height: 45px;
    text-align: center;

    
}
a {
  color: #000080;
}

.sisterhood{
    color:#ff00ff;    
}
footer {
  text-align: left;
    color: lime;
    padding: 75PX;
  background-color: #532225;
    max-width: 100% !important;
    position: absolute;
    left: 0;
    width: 100%;
}



